body {
    background: black;
    margin: 0;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

$sizepacman: 300px;

.pacman {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    animation: pacmanwalk 6000ms linear infinite;

    .pacman-top {
        background-color: yellow;
        width: $sizepacman;
        height: $sizepacman/2;
        border-radius: $sizepacman/2 $sizepacman/2 0 0;

        animation: spin1 0.5s infinite linear;
    }
    .pacman-bottom {
        background-color: yellow;
        width: $sizepacman;
        height: $sizepacman/2;
        border-radius: 0 0 $sizepacman/2 $sizepacman/2;

        animation: spin2 0.5s infinite linear;
    }
}

@keyframes pacmanwalk {
    0% {
        left: -$sizepacman;
    }
    100% {
        left: calc(100% + #{$sizepacman});
    }
}

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

.row {
    display: grid;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100vw;
    transform: translateY(-50%);
    z-index: 5;

    color: white;
    font-size: 100px;
    grid-template-columns: repeat(5, 1fr);

    span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.pacman-trail {
    position: absolute;
    transform: translateX(-100%);
    background: black;
    height: 100vw;
    width: 120vw;
    z-index: 5;

    animation: pacmanwalk 6000ms linear infinite;
} 